body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

.floated h3 {
  display: inline-block;
}

.top {
  margin: 4em auto 2em;
}

.floated {
  margin: 1em;
}

#guessed {
  text-decoration: line-through;
  font-size: 1em;
}
